$font-family-base: "Public Sans", sans-serif;
$card-spacer-x: 1.5rem;
$card-spacer-y: 1.5rem;
$card-border-width: 0;
$nav-link-padding-y: 1rem;
$navbar-padding-y: 0;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1440px,
);
